.app__wrapper {
  margin: 0 auto;
  padding: 48px;
}

a {
  all: unset;
}

* {
  color: #fff;
  margin: 0;
  padding: 0;
}

.main__wrapper {
  display: flex;
  height: 500px;
}

.stocks {
  flex: 40%;
  margin-left: 20px;
}

.chart_wrapper {
  flex: 50%;
}
