.app__wrapper {
  margin: 0 auto;
  padding: 48px;
}

a {
  all: unset;
}

* {
  color: #fff;
}

.main__wrapper {
  display: flex;
  height: 500px;
}

.stocks {
  flex: 30%;
}

.chart_wrapper {
  flex: 65%;
}
